.menu
{
    border: 3px solid;
    width: 780px;
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBsX62dSqhH69vfPdP9syGJHsw-jVCXuyDzyOvVSaRIsJKjDt2og);
}
#logo
{
    border: 3px solid;
    width: 150spx;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 75px;
    background-color: blue;
    

}
#siteName
{   
    border: 3px solid;
    width: 680px;
    position: absolute;
    font-size: 70px; 
    top: 15px;
    left: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBsX62dSqhH69vfPdP9syGJHsw-jVCXuyDzyOvVSaRIsJKjDt2og);
    color: white;
}
#hatOfHome
{
    border: 3px solid;
    width : 100%;
    height: 160px;
    background-image: url(https://obud.com.ua/image/data/Oboi-sharm/104006.jpg); 
}
#contentOfHome
{
    COLOR: white;
    border: 10px;
    width: 700px;
    border: 5px solid;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBsX62dSqhH69vfPdP9syGJHsw-jVCXuyDzyOvVSaRIsJKjDt2og);
}
#bigMap
{
    position: absolute;
    right: 200px;
    top: 175px;
    border: 5px solid;
}
html
{
    background-image: url(http://www.gandex.ru/upl/oboi/gandex.ru-19837_cc887334c25c88b782dff62a9c6b844a.jpg); 
}
#golovach
{
    border: 3px;
}
#valentin
{
    border: 3px;
   
}
#userTable
{
    position: absolute;
    top: 150px;
}
#table
{
    position: absolute;
    right: 450px;
    top: 300px;
}
#userTable
{
    position: absolute;
    left: 740px;
    top: 200px;
    font-size:50px;
}
#tableDiv
{
    font-size:25px;

}
#bioValentin
{
    border: 3px solid;
    width: 700px;
    position: absolute;
    left: 600px;
    top: 400px;
    font-size: 25px;
}
#GolovachBioDiv
{
    border:3px solid;
    width: 665px;
    position: absolute;
    left: 600px;
    top: 400px;
    font-size: 25px;
}
#listOfEntities
{
    position: absolute;
    font-size: 50px;
    left:500px;
    top: 300px;
}
.country
{
    border: solid;
    position: absolute;
    top: 200px;
}
.flag
{
    position: absolute;
    left: 0px;
}
#about
{
    border: 3px solid;
    width: 900px; 
    position: absolute;
    top: 370px;
    left: 500px;
    font-size: 25px;
}




